*.pyc
.env
screenshots/
.DS_Store
instrucciones.txt
map_generator/data/output/*
map_generator/data/raster/*
map_generator/data/shapefile/indicadores/seguridad/*
camera/clbb
camera/images/*
clbb-dashboard/node_modules/*
api/media/*